* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Background and body */
body {
  background-image: url("background-images/bg3.jpg");
  background-size: cover;
  height: 100vh;
}

/* Container split screen */
.container {
  width: 100%;
  max-width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
  border: none;

}

/* Left side */
.left {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  color:black;
  line-height: 1.2;
  text-align: left;
  animation: bounce-up 1s ease-in-out alternate;
  animation-iteration-count: 1;
  margin-right: 20px;
  text-align: center;
  margin-top: 80px;
}

.mail-config input {
  width: 400px;
  border-radius: 5px;
  border: 2px solid black;
  height: 35px;
}

.mail-config label{
  height: 40px;
}

.mail-config p {
  color: black;
}

.mail-config button{
  padding: 0.7rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mail-config button:hover {
  background-color: black;
  color: white;
  border-color: black;
}

@keyframes bounce-up {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-100px); }
  50%  { transform: translateY(-50px); }
  70%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}


/* Right side */
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-left: 1px solid #eee;
  border: none;
}

/* Nav buttons vertical stack */
.buttons {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.buttons a button {
  padding: 0.7rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons a button:hover {
  background-color: black;
  color: white;
  border-color: black;
}

/* Highlight active */
.buttons a .active {
  background-color: black;
  color: white;
}


/* Responsive for small screens */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 90vw;
  }

  .left {
    padding: 1.5rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  .right {
    width: 100%;
    padding: 1.5rem;
    border-left: none;
    border-top: 1px solid #eee;
  }

  .nav-buttons a button {
    font-size: 1rem;
  }
}
